@charset "UTF-8";

// My theme's config settings.
$su-image-path: '~decanter/core/src/img';
$fa-font-path:  '~@fortawesome/fontawesome-free/webfonts';

// Import Decanter Library:
@import 'decanter/core/src/scss/decanter-no-markup';

/** My Styles Here **/
.something-to-have-something-but-not-really-in-use {
  color: red;
}
