/* Override Drupal */
#su-eventshub *,
#su-eventshub :before,
#su-eventshub :after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

#su-eventshub .er-border-2 {
  border-width: 2px;
}
#su-eventshub .er-border-b {
  border-bottom-width: 1px;
}
#su-eventshub .er-border-b-3 {
  border-bottom-width: 3px;
}


#su-eventshub button {
  background: unset;
  color: unset;
  padding: 0;
}

#su-eventshub [type='checkbox'] {
  clip: unset;
  border: unset;
  -webkit-clip-path: unset;
  clip-path: unset;
  height: unset;
  overflow: unset;
  padding: unset;
  position: unset;
  white-space: unset;
  width: unset;
}

#su-eventshub .er-border-black-50 {
  --tw-border-opacity: 1;
  border-color: rgb(151 150 148 / var(--tw-border-opacity));
}

#su-eventshub [type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

#su-eventshub [type='checkbox'] {
  border-radius: 0;
}

#su-eventshub [type='checkbox']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
}

#su-eventshub [type='checkbox']:checked,
[type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#su-eventshub [type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

@media (forced-colors: active) {
  #su-eventshub [type='checkbox']:checked {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }
}

@media (forced-colors: active) {
  [type='radio']:checked {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }
}

#su-eventshub [type='checkbox']:checked:hover,
#su-eventshub [type='checkbox']:checked:focus,
[type='radio']:checked:hover,
[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

#su-eventshub [type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (forced-colors: active) {
  #su-eventshub [type='checkbox']:indeterminate {
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
  }
}

#su-eventshub [type='checkbox']:indeterminate:hover,
#su-eventshub [type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

/* TW */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;


#su-eventshub .aa-Form {
  @apply er-relative;
}

#su-eventshub .aa-InputWrapper input {
  @apply er-w-full er-p-10 er-rounded-full er-text-21 er-border;
}

#su-eventshub .aa-InputWrapperPrefix .aa-Label {
  @apply er-p-0 er-m-0 er-absolute er-right-5 er-top-5;
}

#su-eventshub .aa-InputWrapperPrefix .aa-Label button {
  @apply er-bg-digital-red er-rounded-full er-w-36 er-h-36 er-flex er-justify-center er-items-center;
}

#su-eventshub .aa-InputWrapperPrefix .aa-Label .aa-SubmitIcon {
  @apply er-text-white er-bg-digital-red er-rounded-full er-flex er-justify-center er-items-center;
}

#su-eventshub a.ais-Pagination-link {
  @apply er-text-digital-red er-no-underline er-px-10 er-pb-10;
}

#su-eventshub .ais-Pagination-item--selected .ais-Pagination-link {
  @apply er-text-black er-border-b-3 er-border-black;
}