/* Override Drupal */
#su-eventshub button {
  background: unset;
  color: unset; }

#su-eventshub [type="checkbox"] {
  clip: unset;
  border: unset;
  -webkit-clip-path: unset;
  clip-path: unset;
  height: unset;
  overflow: unset;
  padding: unset;
  position: unset;
  white-space: unset;
  width: unset;
}

#su-eventshub a.ais-Pagination-link {
  @apply er-text-digital-red er-no-underline er-px-10 er-pb-10;
}

#su-eventshub .ais-Pagination-item--selected .ais-Pagination-link {
  @apply er-text-black er-border-b-3 er-border-black;
}

/* TW */
@tailwind base;
@tailwind components;
@tailwind utilities;
